@{
    ViewBag.title = "OrderController";

    int i = 1 + Model.pagingInfo.pageSize * (Model.pagingInfo.CurrentPage - 1);

}
@model OrderControllerModel
<div class="container">
    <div class="row">
        <div id="aside" class="col-md-3">
            <form asp-action="OrdersController" asp-controller="Admin" method="get">
                <div class="aside">
                    <h3 class="aside-title">Sorting</h3>

                    <label asp-for="@Model.pagingInfo.pageSize">16</label>
                    @if (Model.pagingInfo.pageSize == 16)
                    {
                        <input type="radio" asp-for="@Model.pagingInfo.pageSize" name="pageSize" value="16" checked>
                    }
                    else
                    {
                        <input type="radio" asp-for="@Model.pagingInfo.pageSize" name="pageSize" value="16">
                    }

                    <label asp-for="@Model.pagingInfo.pageSize">32</label>
                    @if (Model.pagingInfo.pageSize == 32)
                    {
                        <input type="radio" asp-for="@Model.pagingInfo.pageSize" name="pageSize" value="32" checked>
                    }
                    else
                    {
                        <input type="radio" asp-for="@Model.pagingInfo.pageSize" name="pageSize" value="32">

                    }
                </div>
                <button type="submit" class="btn btn-info btn-lg">Submit</button>
            </form>
            <div class="aside">
                <h3 class="aside-title">Search</h3>
                <form asp-action="OrdersController" asp-controller="Admin" method="get">
                    <input hidden type="number" asp-for="pagingInfo.pageSize" />
                    <div class="form-group">
                        <label asp-for="orderSearch.Name">UserName or Email</label>
                        <input asp-for="orderSearch.Name" class="input" type="text" />
                    </div>
                    <div class="form-group">

                        <label asp-for="orderSearch.IdOrder">Order Id</label>
                        <input asp-for="orderSearch.IdOrder" autocomplete="off" class="input" type="number" />
                    </div>
                    <div class="form-group">
                        <label asp-for="orderSearch.Date">Date</label>
                        <input asp-for="orderSearch.Date" class="input" autocomplete="off" type="date" />
                    </div>
                    <div class="form-group">
                        <label asp-for="orderSearch.Status">Status</label>
                        <select class="input-select" asp-for="orderSearch.Status">
                            @foreach (var stasus in Enum.GetValues(typeof(Status)))
                            {
                                <option value="@stasus">@stasus</option>
                            }
                            <option selected value="ALL">ALL</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-info btn-lg">Submit</button>
                    <a asp-action="OrdersController" class="btn btn-danger btn-lg">Reset</a>
                </form>
            </div>
        </div>
        <div class="col-md-9">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>UserName</th>
                        <th>Order Id</th>
                        <th>Date</th>
                        <th>Products</th>
                        <th>Quantity</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.orderLists)
                    {
                        <tr>
                            <th scope="row">@i</th>
                            <td>@item.UserName</td>
                            <td>@item.Id</td>
                            <td>@item.Date.ToString("d", new CultureInfo("de-DE"))</td>
                            <td>
                                @foreach (var order in item.Orders)
                                {
                                    <p>@order.Name</p>

                                }
                            </td>
                            <td>
                                @foreach (var order in item.Orders)
                                {
                                    <p>@order.Quantity</p>

                                }
                            </td>
                            <td>
                                <form asp-action="EditStatus" method="post">
                                    <input type="hidden" name="Id_Order" value="@item.Id" />
                                    <input type="hidden" name="Url" value="@Context.Request.Path/@Context.Request.QueryString" />
                                    @switch (@item.Status)
                                    {
                                        case "Canceled":
                                            {
                                                <h5 class="text-danger">@item.Status</h5>
                                                break;
                                            }
                                        case "Received":
                                            {
                                                <h5 class="text-success">@item.Status</h5>
                                                break;
                                            }

                                        default:
                                            {
                                                <h5 class="text-info">@item.Status</h5>
                                                break;
                                            }
                                    }
                                    <select class="input-select" asp-for="Status">
                                        @foreach (var stasus in Enum.GetValues(typeof(Status)))
                                        {
                                            if (stasus.ToString() == item.Status)
                                            {
                                                <option selected value="@stasus">@stasus</option>
                                            }
                                            else
                                            {
                                                <option value="@stasus">@stasus</option>
                                            }

                                        }

                                    </select>
                                    <div>
                                        <p></p>
                                        <button type="submit" class="btn btn-info btn-lg">Submit</button>
                                    </div>

                                </form>
                            </td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container">
    <ul page-model="@Model.pagingInfo" page-action-and-controller="@Context.Request.Path.Value" current-page="@Model.pagingInfo.CurrentPage" urlpage="@Context.Request.QueryString" urlcontext="@Context" class="store-pagination"></ul>
</div>
